In [2]:
import pandas as pd

In [6]:
subway = pd.read_csv("C:/Users/심은조/Downloads/subway.csv", encoding='cp949')

In [9]:
subway_oct = subway[(subway['수송일자'] == "2022-10-15") | (subway['수송일자'] == "2022-10-14") | (subway['수송일자'] == "2022-10-16") | (subway['수송일자'] == "2022-10-08") | (subway['수송일자'] == "2022-10-22")]

In [18]:
#날짜별 전체 합계
sum_date = subway_oct.groupby(['수송일자']) 
sum_date.sum()['15-16시간대']

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_35980/2700311313.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_date.sum()['15-16시간대']

수송일자
2022-10-08    570942
2022-10-14    495030
2022-10-15    537182
2022-10-16    390641
2022-10-22    568473
Name: 15-16시간대, dtype: int64

In [21]:
#날짜별 승차 합계
sum_date_on = subway_oct[(subway_oct['승하차구분'] == "승차")]
sum_date_on = sum_date_on.groupby(['수송일자'])  
sum_date_on.sum()['15-16시간대']

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_35980/2130662049.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_date_on.sum()['15-16시간대']

수송일자
2022-10-08    289226
2022-10-14    263718
2022-10-15    274686
2022-10-16    198263
2022-10-22    287041
Name: 15-16시간대, dtype: int64

In [22]:
#호선별 합계
sum_line = subway_oct.groupby(['수송일자', '호선']) 
sum_line.sum()['15-16시간대']

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_35980/2856198416.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_line.sum()['15-16시간대']

수송일자        호선
2022-10-08  1      38868
            2     172968
            3      72213
            4      70126
            5      89551
            6      42308
            7      62516
            8      22392
2022-10-14  1      32587
            2     149796
            3      61730
            4      61459
            5      69736
            6      36731
            7      61722
            8      21269
2022-10-15  1      38113
            2     160861
            3      69542
            4      63984
            5      74749
            6      48548
            7      59774
            8      21611
2022-10-16  1      27304
            2     114315
            3      48591
            4      46159
            5      54376
            6      38106
            7      45852
            8      15938
2022-10-22  1      46509
            2     176159
            3      74646
            4      67904
            5      77551
            6      43483
            7      60881
            8      21340
Name: 15-16시간대, dtype: int64

In [23]:
#호선별 승차 합계
sum_line_on = subway_oct[(subway_oct['승하차구분'] == "승차")]
sum_line_on = sum_line_on.groupby(['수송일자', '호선']) 
sum_line_on.sum()['15-16시간대']

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_35980/2969113844.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_line_on.sum()['15-16시간대']

수송일자        호선
2022-10-08  1     21217
            2     86047
            3     38181
            4     35235
            5     42657
            6     21402
            7     32743
            8     11744
2022-10-14  1     18956
            2     79618
            3     33727
            4     32723
            5     36216
            6     19024
            7     32407
            8     11047
2022-10-15  1     21228
            2     81272
            3     36247
            4     32356
            5     38145
            6     23723
            7     31093
            8     10622
2022-10-16  1     15229
            2     57282
            3     24959
            4     22941
            5     27373
            6     18984
            7     23536
            8      7959
2022-10-22  1     23260
            2     86942
            3     38887
            4     34305
            5     39562
            6     21543
            7     31783
            8     10759
Name: 15-16시간대, dtype: int64

In [24]:
#승객유형별 합계
sum_people = subway_oct.groupby(['수송일자', '승객유형']) 
sum_people.sum()['15-16시간대']

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_35980/966833525.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_people.sum()['15-16시간대']

수송일자        승객유형
2022-10-08  어린이         11149
            영어 어린이         37
            영어 일반         692
            우대권        109802
            일반         426260
            일어 어린이          7
            일어 일반         204
            중고생           131
            중국어 어린이         3
            중국어 일반         98
            청소년         22559
2022-10-14  어린이          3273
            영어 어린이         40
            영어 일반         692
            우대권        140891
            일반         322783
            일어 어린이          2
            일어 일반         105
            중고생           122
            중국어 어린이         0
            중국어 일반         64
            청소년         27058
2022-10-15  어린이          8299
            영어 어린이         33
            영어 일반         724
            우대권        113430
            일반         396845
            일어 어린이          2
            일어 일반          59
            중고생            99
            중국어 어린이         5
            중국어 일반         83
            청소년         17603
2022-10-16  어린이          5811
            영어 어린이         49
            영어 일반         751
            우대권         84501
            일반         284267
            일어 어린이          0
            일어 일반          79
            중고생            66
            중국어 어린이         2
            중국어 일반        116
            청소년         14999
2022-10-22  어린이          8465
            영어 어린이         50
            영어 일반         838
            우대권        117476
            일반         419999
            일어 어린이          0
            일어 일반         156
            중고생           111
            중국어 어린이         1
            중국어 일반        146
            청소년         21231
Name: 15-16시간대, dtype: int64

In [25]:
#승객유형별 승차 합계
sum_people_on = subway_oct[(subway_oct['승하차구분'] == "승차")]
sum_people_on = sum_people_on.groupby(['수송일자', '승객유형']) 
sum_people_on.sum()['15-16시간대']

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_35980/1358900218.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_people_on.sum()['15-16시간대']

수송일자        승객유형
2022-10-08  어린이          5521
            영어 어린이         18
            영어 일반         346
            우대권         57191
            일반         215079
            일어 어린이          2
            일어 일반         109
            중고생            59
            중국어 어린이         2
            중국어 일반         48
            청소년         10851
2022-10-14  어린이          1814
            영어 어린이         18
            영어 일반         369
            우대권         74198
            일반         170991
            일어 어린이          1
            일어 일반          41
            중고생            77
            중국어 어린이         0
            중국어 일반         38
            청소년         16171
2022-10-15  어린이          4235
            영어 어린이         17
            영어 일반         382
            우대권         59273
            일반         201842
            일어 어린이          1
            일어 일반          24
            중고생            52
            중국어 어린이         2
            중국어 일반         43
            청소년          8815
2022-10-16  어린이          2998
            영어 어린이         20
            영어 일반         377
            우대권         43324
            일반         144053
            일어 어린이          0
            일어 일반          41
            중고생            32
            중국어 어린이         2
            중국어 일반         66
            청소년          7350
2022-10-22  어린이          4278
            영어 어린이         23
            영어 일반         427
            우대권         60221
            일반         211612
            일어 어린이          0
            일어 일반          72
            중고생            55
            중국어 어린이         1
            중국어 일반         73
            청소년         10279
Name: 15-16시간대, dtype: int64