In [45]:
import pandas as pd
import os
import numpy as np
from scipy import stats

In [33]:
df_line = pd.read_csv('df_line.csv',encoding = 'utf-8-sig')
df_line['승하차_평균_2211'] = df_line['승하차_평균_2211_x']
df_line = df_line.drop(['승하차_평균_2211_x','승하차_평균_2211_y'], axis = 1)

In [29]:
df_line
df_line.drop(['승하차_평균_2211_x','승하차_평균_2211_y'], axis = 1)

,노선명,승하차_평균_1501,승하차_평균_1502,승하차_평균_1503,승하차_평균_1504,승하차_평균_1505,승하차_평균_1506,승하차_평균_1507,승하차_평균_1508,승하차_평균_1509,...,승하차_평균_2202,승하차_평균_2203,승하차_평균_2204,승하차_평균_2205,승하차_평균_2206,승하차_평균_2207,승하차_평균_2208,승하차_평균_2209,승하차_평균_2210,승하차_평균_2211
0,1호선,29916.0,28465.0,30334.0,30226.0,29409.0,25233.0,27410.0,26871.0,27716.0,...,16199.0,16638.0,19694.0,21407.0,20971.0,20610.0,19991.0,21147.0,22507.0,22781.0
1,2호선,31161.0,29378.0,33163.0,33249.0,31608.0,29119.0,30734.0,29203.0,29970.0,...,20387.0,20883.0,24266.0,25770.0,25143.0,25162.0,24122.0,25068.0,25798.0,26931.0
2,3호선,16532.0,15721.0,17573.0,17818.0,17115.0,15137.0,15970.0,15452.0,15954.0,...,11449.0,11575.0,13456.0,14635.0,14193.0,13868.0,13355.0,14114.0,14755.0,15251.0
3,4호선,22885.0,21876.0,25226.0,25582.0,24874.0,21818.0,22297.0,21585.0,23110.0,...,13826.0,14437.0,16579.0,17930.0,17277.0,16746.0,16125.0,17457.0,18247.0,18894.0
4,5호선,11363.0,10728.0,12334.0,12748.0,11899.0,10915.0,11302.0,10789.0,11259.0,...,8481.0,8702.0,10152.0,10655.0,10395.0,10184.0,9950.0,10374.0,10655.0,11021.0
5,6호선,8685.0,8299.0,9909.0,9955.0,9729.0,8891.0,8810.0,8431.0,9144.0,...,6481.0,6776.0,7772.0,8327.0,8077.0,7806.0,7519.0,8261.0,8585.0,8540.0
6,7호선,13756.0,13082.0,15164.0,15341.0,14558.0,13443.0,13695.0,12994.0,13821.0,...,9975.0,10677.0,12460.0,13195.0,12746.0,12391.0,11930.0,12808.0,12881.0,13555.0
7,8호선,9291.0,8825.0,10171.0,10431.0,9916.0,9044.0,9346.0,8901.0,9461.0,...,7887.0,8118.0,9443.0,9753.0,9565.0,9373.0,9064.0,9418.0,9740.0,10141.0
8,9호선,9972.0,9403.0,10606.0,11434.0,10432.0,9644.0,10223.0,9739.0,10079.0,...,8305.0,8344.0,9926.0,10400.0,10246.0,10156.0,9793.0,10187.0,10361.0,10833.0
9,경부선,12632.0,12365.0,14363.0,14737.0,14166.0,11935.0,12385.0,12261.0,13610.0,...,8401.0,9024.0,10545.0,11477.0,10925.0,10452.0,10004.0,11142.0,11467.0,11649.0
10,경원선,7012.0,6858.0,8089.0,8245.0,8142.0,7178.0,7226.0,7040.0,7682.0,...,5017.0,5434.0,6349.0,6706.0,6411.0,6122.0,5880.0,6573.0,6751.0,6731.0
11,경의선,3182.0,3099.0,3767.0,3963.0,3828.0,3479.0,3501.0,3425.0,3903.0,...,3059.0,3308.0,3833.0,4138.0,3949.0,3827.0,3700.0,4050.0,4150.0,4245.0
12,경인선,16290.0,15806.0,18477.0,18774.0,18262.0,16334.0,16524.0,15959.0,17032.0,...,10385.0,10835.0,12670.0,13519.0,13047.0,12506.0,11995.0,13075.0,13306.0,13478.0
13,경춘선,1684.0,1658.0,1985.0,2101.0,2309.0,1811.0,1874.0,2081.0,1991.0,...,1483.0,1565.0,1906.0,2127.0,2014.0,1940.0,1858.0,1997.0,2082.0,1990.0
14,공항철도 1호선,8031.0,7866.0,8313.0,8033.0,7988.0,7139.0,7610.0,7781.0,7799.0,...,5171.0,5219.0,6251.0,6942.0,6960.0,7035.0,6918.0,7110.0,7530.0,7716.0
15,과천선,13326.0,12337.0,14531.0,15495.0,15469.0,12703.0,13487.0,13150.0,13529.0,...,9298.0,9703.0,11861.0,12823.0,12067.0,11818.0,11124.0,11961.0,12712.0,12670.0
16,분당선,10404.0,9840.0,11395.0,11494.0,11006.0,9901.0,10492.0,9960.0,10527.0,...,8136.0,8407.0,9760.0,10350.0,10011.0,9814.0,9506.0,10111.0,10244.0,10732.0
17,수인선,2744.0,2629.0,3095.0,3240.0,3305.0,2936.0,2939.0,2906.0,3225.0,...,2395.0,2663.0,3131.0,3354.0,3150.0,2915.0,2799.0,3251.0,3381.0,3342.0
18,안산선,9525.0,9323.0,11057.0,11222.0,11073.0,9628.0,9739.0,9473.0,10467.0,...,6789.0,7513.0,8721.0,9294.0,8754.0,8298.0,7907.0,8944.0,9133.0,9240.0
19,일산선,9589.0,9178.0,10505.0,11121.0,10750.0,9385.0,9909.0,9665.0,10117.0,...,7950.0,8110.0,9454.0,10181.0,9628.0,9466.0,9130.0,9763.0,9949.0,10077.0
20,장항선,2220.0,2191.0,2980.0,2938.0,2961.0,2086.0,2006.0,2119.0,2716.0,...,1385.0,1908.0,2208.0,2447.0,2163.0,1862.0,1799.0,2450.0,2464.0,2522.0
21,중앙선,4522.0,4395.0,5238.0,5431.0,5465.0,4661.0,4790.0,4732.0,5039.0,...,3226.0,3437.0,4098.0,4392.0,4195.0,4044.0,3854.0,4334.0,4444.0,4444.0
22,9호선2단계,0.0,0.0,3505.0,4518.0,4696.0,4730.0,5344.0,5211.0,5503.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,경강선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2058.0,2164.0,2539.0,2764.0,2701.0,2617.0,2537.0,2770.0,2845.0,2902.0
24,우이신설선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2638.0,2756.0,3121.0,3335.0,3182.0,3093.0,2948.0,3306.0,3386.0,3472.0
25,9호선2~3단계,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5507.0,5477.0,6456.0,6885.0,7030.0,7107.0,6847.0,7052.0,7247.0,7540.0
26,신림선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3209.0,2770.0,2896.0,2915.0,3055.0,3187.0,3362.0

In [34]:
df_line = df_line.set_index('노선명')

In [35]:
df_line[df_line == 0]

,승하차_평균_1501,승하차_평균_1502,승하차_평균_1503,승하차_평균_1504,승하차_평균_1505,승하차_평균_1506,승하차_평균_1507,승하차_평균_1508,승하차_평균_1509,승하차_평균_1510,...,승하차_평균_2202,승하차_평균_2203,승하차_평균_2204,승하차_평균_2205,승하차_평균_2206,승하차_평균_2207,승하차_평균_2208,승하차_평균_2209,승하차_평균_2210,승하차_평균_2211
노선명,,,,,,,,,,,,,,,,,,,,,
1호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경부선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경원선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경의선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경인선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경춘선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
공항철도 1호선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
과천선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
분당선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
수인선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
안산선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
일산선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
장항선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중앙선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9호선2단계,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
경강선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
우이신설선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9호선2~3단계,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
신림선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 9호선 2단계 개통(환승 노선: 2호선, 분당선)

In [79]:
df_line_2_before_9 = df_line.loc['2호선', '승하차_평균_1501':'승하차_평균_1502']
df_line_2_after_9 = df_line.loc['2호선', '승하차_평균_1503':'승하차_평균_1602']

In [80]:
print(df_line_2_before_9.mean(),df_line_2_after_9.mean())
df_line_2_before_9 = list(df_line_2_before_9)
df_line_2_after_9 = list(df_line_2_after_9)

30269.5 30938.25

In [81]:
t_stat, p_value = stats.ttest_ind(df_line_2_before_9, df_line_2_after_9, alternative = 'two-sided')

In [82]:
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : -0.5572768840157033, p_value : 0.5875826140221894

### p-value > 0.05 --> 귀무가설 기각 불가능

In [83]:
df_line_b_before_9 = df_line.loc['분당선', '승하차_평균_1501':'승하차_평균_1502']
df_line_b_after_9 = df_line.loc['분당선', '승하차_평균_1503':'승하차_평균_1602']

In [84]:
print(df_line_b_before_9.mean(),df_line_b_after_9.mean())
df_line_b_before_9 = list(df_line_b_before_9)
df_line_b_after_9 = list(df_line_b_after_9)

10122.0 10699.083333333334

In [85]:
t_stat, p_value = stats.ttest_ind(df_line_b_before_9, df_line_b_after_9, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : -1.2368900424829052, p_value : 0.239787814548779

# 9호선 3단계 개통(환승 노선: 5호선, 8호선)

In [86]:
df_line_5_before_9 = df_line.loc['5호선', '승하차_평균_1712':'승하차_평균_1811']
df_line_5_after_9 = df_line.loc['5호선', '승하차_평균_1812':'승하차_평균_1911']

In [87]:
print(df_line_5_before_9.mean(),df_line_5_after_9.mean())
df_line_5_before_9 = list(df_line_5_before_9)
df_line_5_after_9 = list(df_line_5_after_9)

11676.333333333334 11788.0

In [88]:
t_stat, p_value = stats.ttest_ind(df_line_5_before_9, df_line_5_after_9, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : -0.4817661693667649, p_value : 0.634729912645756

In [89]:
df_line_8_before_9 = df_line.loc['8호선', '승하차_평균_1712':'승하차_평균_1811']
df_line_8_after_9 = df_line.loc['8호선', '승하차_평균_1812':'승하차_평균_1911']

In [90]:
print(df_line_8_before_9.mean(),df_line_8_after_9.mean())
df_line_8_before_9 = list(df_line_8_before_9)
df_line_8_after_9 = list(df_line_8_after_9)

10813.416666666666 11183.333333333334

In [91]:
t_stat, p_value = stats.ttest_ind(df_line_8_before_9, df_line_8_after_9, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : -1.7016687241949329, p_value : 0.10290942131981161

# 우이신설선 개통(환승노선: 4호선, 6호선, 1호선, 2호선)

In [92]:
df_line_4_before_u = df_line.loc['4호선', '승하차_평균_1608':'승하차_평균_1707']
df_line_4_after_u = df_line.loc['4호선', '승하차_평균_1708':'승하차_평균_1807']

In [93]:
print(df_line_4_before_u.mean(),df_line_4_after_u.mean())
df_line_4_before_u = list(df_line_4_before_u)
df_line_4_after_u = list(df_line_4_after_u)

23298.083333333332 22353.75

In [94]:
t_stat, p_value = stats.ttest_ind(df_line_4_before_u, df_line_4_after_u, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : 1.904827576491523, p_value : 0.06995864345610044

In [95]:
df_line_6_before_u = df_line.loc['6호선', '승하차_평균_1608':'승하차_평균_1707']
df_line_6_after_u = df_line.loc['6호선', '승하차_평균_1708':'승하차_평균_1807']

In [96]:
print(df_line_6_before_u.mean(),df_line_6_after_u.mean())
df_line_6_before_u = list(df_line_6_before_u)
df_line_6_after_u = list(df_line_6_after_u)

9373.083333333334 9316.416666666666

In [97]:
t_stat, p_value = stats.ttest_ind(df_line_6_before_u, df_line_6_after_u, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : 0.269102500898326, p_value : 0.7903584656099709

In [98]:
df_line_1_before_u = df_line.loc['1호선', '승하차_평균_1608':'승하차_평균_1707']
df_line_1_after_u = df_line.loc['1호선', '승하차_평균_1708':'승하차_평균_1807']

In [99]:
print(df_line_1_before_u.mean(),df_line_1_after_u.mean())
df_line_1_before_u = list(df_line_1_before_u)
df_line_1_after_u = list(df_line_1_after_u)

27995.416666666668 26924.333333333332

In [100]:
t_stat, p_value = stats.ttest_ind(df_line_1_before_u, df_line_1_after_u, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : 1.897981726142049, p_value : 0.07089738358211249

In [101]:
df_line_2_before_u = df_line.loc['2호선', '승하차_평균_1608':'승하차_평균_1707']
df_line_2_after_u = df_line.loc['2호선', '승하차_평균_1708':'승하차_평균_1807']

In [102]:
print(df_line_2_before_u.mean(),df_line_2_after_u.mean())
df_line_2_before_u = list(df_line_2_before_u)
df_line_2_after_u = list(df_line_2_after_u)

30762.5 30519.916666666668

In [103]:
t_stat, p_value = stats.ttest_ind(df_line_2_before_u, df_line_2_after_u, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

t_statistics : 0.45473843487878346, p_value : 0.6537527990018022

# 신림선 개통(환승노선: 1호선, 2호선, 7호선, 9호선)

In [104]:
df_line_1_before_s = df_line.loc['1호선', '승하차_평균_2105':'승하차_평균_2204']
df_line_1_after_s = df_line.loc['1호선', '승하차_평균_2205':]

In [105]:
print(df_line_1_before_s.mean(),df_line_1_after_s.mean())
df_line_1_before_s = list(df_line_1_before_s)
df_line_1_after_s = list(df_line_1_after_s)

17695.666666666668 21344.85714285714

In [106]:
t_stat, p_value = stats.ttest_ind(df_line_1_before_s, df_line_1_after_s, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))

# 영향을 줌!

t_statistics : -5.96981153153305, p_value : 1.5219452910445106e-05

In [107]:
df_line_2_before_s = df_line.loc['2호선', '승하차_평균_2105':'승하차_평균_2204']
df_line_2_after_s = df_line.loc['2호선', '승하차_평균_2205':]

In [108]:
print(df_line_2_before_s.mean(),df_line_2_after_s.mean())
df_line_2_before_s = list(df_line_2_before_s)
df_line_2_after_s = list(df_line_2_after_s)

21794.666666666668 25427.714285714286

In [110]:
t_stat, p_value = stats.ttest_ind(df_line_2_before_s, df_line_2_after_s, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))
# 영향을 줌!

t_statistics : -5.105617472528709, p_value : 8.790450349176293e-05

In [118]:
df_line_7_before_s = df_line.loc['7호선', '승하차_평균_2105':'승하차_평균_2204']
df_line_7_after_s = df_line.loc['7호선', '승하차_평균_2205':]

In [119]:
print(df_line_7_before_s.mean(),df_line_7_after_s.mean())
df_line_7_before_s = list(df_line_7_before_s)
df_line_7_after_s = list(df_line_7_after_s)

10886.75 12786.57142857143

In [121]:
t_stat, p_value = stats.ttest_ind(df_line_7_before_s, df_line_7_after_s, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))
# 영향을 줌!

t_statistics : -5.433022200384702, p_value : 4.474925933053804e-05

In [122]:
df_line_9_before_s = df_line.loc['9호선', '승하차_평균_2105':'승하차_평균_2204']
df_line_9_after_s = df_line.loc['9호선', '승하차_평균_2205':]

In [123]:
print(df_line_9_before_s.mean(),df_line_9_after_s.mean())
df_line_9_before_s = list(df_line_9_before_s)
df_line_9_after_s = list(df_line_9_after_s)

8852.916666666666 10282.285714285714

In [124]:
t_stat, p_value = stats.ttest_ind(df_line_9_before_s, df_line_9_after_s, alternative = 'two-sided')
print('t_statistics : {}, p_value : {}'.format(t_stat, p_value))
# 영향을 줌!

t_statistics : -5.121666716221341, p_value : 8.50184357078272e-05