In [ ]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
from urllib.request import urlretrieve

In [ ]:
driver = webdriver.Chrome('chromedriver')

In [ ]:
url = 'https://sbiz.gmr.or.kr/report/trdreport.do'
driver.get(url)

In [ ]:
btn = driver.find_element(By.XPATH, '//*[@id="loginpopup"]/div/div[2]/button[2]')
btn.click()

In [ ]:
user_id = input("ID: ")
user_password = input("PASSWORD: ")

driver.find_element(By.XPATH, '//*[@id="id"]').send_keys(user_id)
driver.find_element(By.XPATH, '//*[@id="password"]').send_keys(user_password)
driver.find_element(By.XPATH, '//*[@id="btn_login"]').click()

In [ ]:
driver.get(url)

In [ ]:
from selenium.webdriver.support.select import Select

In [ ]:
select = Select(driver.find_element(By.XPATH, '//*[@id="selectQuCondition"]'))
select.select_by_index(1)

select = Select(driver.find_element(By.XPATH, '//*[@id="trdar"]'))
select.select_by_index(1)

btn = driver.find_element(By.XPATH, '/html/body/div/section/div/div[2]/div[2]/div/div[3]/button')
btn.click()

In [ ]:
import pandas as pd

In [ ]:
html_source = driver.page_source
soup = BeautifulSoup(html_source, 'html.parser')

In [ ]:
html_table = soup.find('table', 'com_table')
html_table = str(html_table)
df1 = pd.read_html(html_table)[0]

In [ ]:
df1

        행정구역  생활밀접업종 2021년 3분기                  2021년 4분기                   \
        행정구역  생활밀접업종    전체 점포수 프랜차이즈 점포수 일반 점포수    전체 점포수 프랜차이즈 점포수 일반 점포수
0        경기도  전체업종전체     52744      6914  45830     52814      6973  45841
1        수원시  전체업종전체      7664      1007   6657      7692      1036   6656
2    수원시 장안구  전체업종전체      2246       282   1964      2252       289   1963
3    수원시 권선구  전체업종전체      2982       415   2567      2995       423   2572
4    수원시 팔달구  전체업종전체      1193       145   1048      1199       151   1048
5    수원시 영통구  전체업종전체      1243       165   1078      1246       173   1073
6        성남시  전체업종전체      5358       582   4776      5360       578   4782
7    성남시 수정구  전체업종전체      1339       129   1210      1329       129   1200
8    성남시 중원구  전체업종전체      1818       155   1663      1818       151   1667
9    성남시 분당구  전체업종전체      2201       298   1903      2213       298   1915
10      의정부시  전체업종전체      1735       214   1521      1719       217   1502
11       안양시  전체업종전체      2968       358   2610      2969       361   2608
12   안양시 만안구  전체업종전체      1579       185   1394      1566       182   1384
13   안양시 동안구  전체업종전체      1389       173   1216      1403       179   1224
14       부천시  전체업종전체      2998       313   2685      2973       309   2664
15       광명시  전체업종전체       420        43    377       410        42    368
16       평택시  전체업종전체      2115       331   1784      2119       342   1777
17      동두천시  전체업종전체       226        23    203       226        24    202
18       안산시  전체업종전체      4549       592   3957      4555       589   3966
19   안산시 상록구  전체업종전체      2644       343   2301      2644       342   2302
20   안산시 단원구  전체업종전체      1905       249   1656      1911       247   1664
21       고양시  전체업종전체      4504       502   4002      4514       500   4014
22   고양시 덕양구  전체업종전체      2079       260   1819      2081       256   1825
23  고양시 일산동구  전체업종전체      1595       150   1445      1598       150   1448
24  고양시 일산서구  전체업종전체       830        92    738       835        94    741
25       과천시  전체업종전체        32         6     26        31         6     25
26       구리시  전체업종전체       344        44    300       340        45    295
27      남양주시  전체업종전체      1754       251   1503      1766       253   1513
28       오산시  전체업종전체       974       162    812       968       167    801
29       시흥시  전체업종전체      1892       266   1626      1899       270   1629
30       군포시  전체업종전체      1177       160   1017      1186       162   1024
31       의왕시  전체업종전체       398        55    343       396        56    340
32       하남시  전체업종전체       371        34    337       367        32    335
33       용인시  전체업종전체      2445       401   2044      2454       404   2050
34   용인시 처인구  전체업종전체      1025       133    892      1021       135    886
35   용인시 기흥구  전체업종전체       926       166    760       944       169    775
36   용인시 수지구  전체업종전체       494       102    392       489       100    389
37       파주시  전체업종전체       969       115    854       966       111    855
38       이천시  전체업종전체       708        97    611       714        99    615
39       안성시  전체업종전체       857       132    725       862       134    728
40       김포시  전체업종전체      1118       216    902      1114       211    903
41       화성시  전체업종전체      2563       444   2119      2572       438   2134
42       광주시  전체업종전체      1592       232   1360      1604       236   1368
43       양주시  전체업종전체       828       107    721       840       112    728
44       포천시  전체업종전체       353        41    312       353        44    309
45       여주시  전체업종전체       636        78    558       648        81    567
46       연천군  전체업종전체       107        10     97       109        10     99
47       가평군  전체업종전체       101        12     89       106        14     92
48       양평군  전체업종전체       988        86    902       982        90    892

   2022년 1분기
      전체 점포수 프랜차이즈 점포수 일반 점포수
0      53254      7010  46244
1       7741      1038   6703
2       2284       287   1997
3       3005       429   2576
4       1190       149   1041
5       1262       173   1089
6       5365       573   4792
7       1321       129   1192
8       1818       145   1673
9       2226       299   1927
10      1724       216   1508
11      2995       365   2630
12      1571       183   1388
13      1424       182   1242
14      2985       314   2671
15       412        41    371
16      2134       342   1792
17       228        24    204
18      4579       590   3989
19      2651       343   2308
20      1928       247   1681
21      4545       507   4038
22      2107       266   1841
23      1602       150   1452
24       836        91    745
25        32         6     26
26       345        44    301
27      1789       255   1534
28       989       170    819
29      1922       273   1649
30      1194       167   1027
31       399        55    344
32       376        34    342
33      2472       408   2064
34      1028       136    892
35       947       173    774
36       497        99    398
37       978       111    867
38       715       103    612
39       871       136    735
40      1136       213    923
41      2641       442   2199
42      1601       229   1372
43       858       114    744
44       358        45    313
45       658        80    578
46       108        10     98
47       113        15     98
48       991        90    901

In [ ]:
select = Select(driver.find_element(By.XPATH, '//*[@id="selectYear"]'))
select.select_by_index(1)

select = Select(driver.find_element(By.XPATH, '//*[@id="selectQu"]'))
select.select_by_index(2)

btn = driver.find_element(By.XPATH, '/html/body/div/section/div/div[2]/div[2]/div/div[3]/button')
btn.click()

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

html_table = soup.find('table', 'com_table')
html_table = str(html_table)
df2 = pd.read_html(html_table)[0]
df2

        행정구역  생활밀접업종 2020년 4분기                  2021년 1분기                   \
        행정구역  생활밀접업종    전체 점포수 프랜차이즈 점포수 일반 점포수    전체 점포수 프랜차이즈 점포수 일반 점포수
0        경기도  전체업종전체     51852      6676  45176     52173      6764  45409
1        수원시  전체업종전체      7525       953   6572      7572       976   6596
2    수원시 장안구  전체업종전체      2258       270   1988      2258       274   1984
3    수원시 권선구  전체업종전체      2917       392   2525      2939       402   2537
4    수원시 팔달구  전체업종전체      1153       129   1024      1154       135   1019
5    수원시 영통구  전체업종전체      1197       162   1035      1221       165   1056
6        성남시  전체업종전체      5384       592   4792      5389       592   4797
7    성남시 수정구  전체업종전체      1381       132   1249      1371       133   1238
8    성남시 중원구  전체업종전체      1818       166   1652      1821       161   1660
9    성남시 분당구  전체업종전체      2185       294   1891      2197       298   1899
10      의정부시  전체업종전체      1716       206   1510      1721       209   1512
11       안양시  전체업종전체      2980       351   2629      2980       356   2624
12   안양시 만안구  전체업종전체      1586       180   1406      1585       184   1401
13   안양시 동안구  전체업종전체      1394       171   1223      1395       172   1223
14       부천시  전체업종전체      2945       308   2637      2966       312   2654
15       광명시  전체업종전체       412        41    371       418        41    377
16       평택시  전체업종전체      2079       322   1757      2085       326   1759
17      동두천시  전체업종전체       219        21    198       224        24    200
18       안산시  전체업종전체      4473       570   3903      4508       582   3926
19   안산시 상록구  전체업종전체      2615       333   2282      2626       337   2289
20   안산시 단원구  전체업종전체      1858       237   1621      1882       245   1637
21       고양시  전체업종전체      4398       496   3902      4458       498   3960
22   고양시 덕양구  전체업종전체      2019       250   1769      2048       254   1794
23  고양시 일산동구  전체업종전체      1551       151   1400      1584       149   1435
24  고양시 일산서구  전체업종전체       828        95    733       826        95    731
25       과천시  전체업종전체        34         6     28        32         6     26
26       구리시  전체업종전체       339        44    295       341        42    299
27      남양주시  전체업종전체      1689       238   1451      1706       243   1463
28       오산시  전체업종전체       950       161    789       958       160    798
29       시흥시  전체업종전체      1857       245   1612      1868       249   1619
30       군포시  전체업종전체      1165       157   1008      1169       158   1011
31       의왕시  전체업종전체       389        51    338       388        51    337
32       하남시  전체업종전체       367        33    334       366        33    333
33       용인시  전체업종전체      2400       406   1994      2416       410   2006
34   용인시 처인구  전체업종전체      1014       139    875      1024       139    885
35   용인시 기흥구  전체업종전체       896       165    731       901       167    734
36   용인시 수지구  전체업종전체       490       102    388       491       104    387
37       파주시  전체업종전체       968       115    853       966       115    851
38       이천시  전체업종전체       699        92    607       698        92    606
39       안성시  전체업종전체       844       131    713       852       132    720
40       김포시  전체업종전체      1046       193    853      1062       199    863
41       화성시  전체업종전체      2455       416   2039      2480       423   2057
42       광주시  전체업종전체      1548       214   1334      1570       217   1353
43       양주시  전체업종전체       827       100    727       828       104    724
44       포천시  전체업종전체       342        39    303       347        39    308
45       여주시  전체업종전체       618        73    545       616        71    545
46       연천군  전체업종전체       101         8     93       103         9     94
47       가평군  전체업종전체       101        12     89       100        13     87
48       양평군  전체업종전체       982        82    900       986        82    904

   2021년 2분기
      전체 점포수 프랜차이즈 점포수 일반 점포수
0      52677      6859  45818
1       7652       997   6655
2       2260       278   1982
3       2972       410   2562
4       1185       140   1045
5       1235       169   1066
6       5391       587   4804
7       1355       130   1225
8       1837       160   1677
9       2199       297   1902
10      1737       215   1522
11      2973       353   2620
12      1578       181   1397
13      1395       172   1223
14      2993       310   2683
15       421        43    378
16      2112       333   1779
17       228        23    205
18      4554       592   3962
19      2658       345   2313
20      1896       247   1649
21      4508       509   3999
22      2073       257   1816
23      1604       158   1446
24       831        94    737
25        32         6     26
26       345        44    301
27      1738       249   1489
28       967       157    810
29      1888       254   1634
30      1177       158   1019
31       399        54    345
32       367        34    333
33      2434       406   2028
34      1024       137    887
35       916       168    748
36       494       101    393
37       968       115    853
38       705        95    610
39       869       133    736
40      1091       209    882
41      2517       433   2084
42      1597       223   1374
43       836       107    729
44       353        41    312
45       631        73    558
46       106        10     96
47        99        12     87
48       989        84    905

In [ ]:
select = Select(driver.find_element(By.XPATH, '//*[@id="selectYear"]'))
select.select_by_index(2)

select = Select(driver.find_element(By.XPATH, '//*[@id="selectQu"]'))
select.select_by_index(1)

btn = driver.find_element(By.XPATH, '/html/body/div/section/div/div[2]/div[2]/div/div[3]/button')
btn.click()

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

html_table = soup.find('table', 'com_table')
html_table = str(html_table)
df3 = pd.read_html(html_table)[0]
df3

        행정구역  생활밀접업종 2020년 1분기                  2020년 2분기                   \
        행정구역  생활밀접업종    전체 점포수 프랜차이즈 점포수 일반 점포수    전체 점포수 프랜차이즈 점포수 일반 점포수
0        경기도  전체업종전체     50964      6413  44551     51448      6545  44903
1        수원시  전체업종전체      7432       924   6508      7485       939   6546
2    수원시 장안구  전체업종전체      2224       254   1970      2242       265   1977
3    수원시 권선구  전체업종전체      2889       381   2508      2907       381   2526
4    수원시 팔달구  전체업종전체      1147       125   1022      1145       122   1023
5    수원시 영통구  전체업종전체      1172       164   1008      1191       171   1020
6        성남시  전체업종전체      5321       595   4726      5368       590   4778
7    성남시 수정구  전체업종전체      1382       134   1248      1384       127   1257
8    성남시 중원구  전체업종전체      1810       177   1633      1831       176   1655
9    성남시 분당구  전체업종전체      2129       284   1845      2153       287   1866
10      의정부시  전체업종전체      1710       198   1512      1721       202   1519
11       안양시  전체업종전체      2976       335   2641      2989       341   2648
12   안양시 만안구  전체업종전체      1586       174   1412      1590       177   1413
13   안양시 동안구  전체업종전체      1390       161   1229      1399       164   1235
14       부천시  전체업종전체      2915       292   2623      2928       299   2629
15       광명시  전체업종전체       418        42    376       420        42    378
16       평택시  전체업종전체      2038       313   1725      2063       318   1745
17      동두천시  전체업종전체       205        19    186       209        20    189
18       안산시  전체업종전체      4428       572   3856      4450       576   3874
19   안산시 상록구  전체업종전체      2592       338   2254      2600       339   2261
20   안산시 단원구  전체업종전체      1836       234   1602      1850       237   1613
21       고양시  전체업종전체      4274       460   3814      4322       485   3837
22   고양시 덕양구  전체업종전체      1971       230   1741      1991       247   1744
23  고양시 일산동구  전체업종전체      1488       142   1346      1517       148   1369
24  고양시 일산서구  전체업종전체       815        88    727       814        90    724
25       과천시  전체업종전체        33         6     27        34         6     28
26       구리시  전체업종전체       315        41    274       325        43    282
27      남양주시  전체업종전체      1630       221   1409      1665       232   1433
28       오산시  전체업종전체       909       147    762       915       153    762
29       시흥시  전체업종전체      1823       233   1590      1846       236   1610
30       군포시  전체업종전체      1166       156   1010      1169       158   1011
31       의왕시  전체업종전체       407        51    356       409        51    358
32       하남시  전체업종전체       372        32    340       368        32    336
33       용인시  전체업종전체      2376       387   1989      2384       390   1994
34   용인시 처인구  전체업종전체      1000       131    869      1004       137    867
35   용인시 기흥구  전체업종전체       884       155    729       889       152    737
36   용인시 수지구  전체업종전체       492       101    391       491       101    390
37       파주시  전체업종전체       948       113    835       965       115    850
38       이천시  전체업종전체       691        89    602       687        89    598
39       안성시  전체업종전체       835       122    713       843       129    714
40       김포시  전체업종전체       984       185    799      1020       189    831
41       화성시  전체업종전체      2371       383   1988      2424       399   2025
42       광주시  전체업종전체      1477       204   1273      1503       210   1293
43       양주시  전체업종전체       828       103    725       831       103    728
44       포천시  전체업종전체       329        37    292       341        39    302
45       여주시  전체업종전체       600        60    540       611        66    545
46       연천군  전체업종전체       101         7     94        99         7     92
47       가평군  전체업종전체        97        10     87        97        10     87
48       양평군  전체업종전체       955        76    879       957        76    881

   2020년 3분기
      전체 점포수 프랜차이즈 점포수 일반 점포수
0      51624      6615  45009
1       7478       936   6542
2       2248       265   1983
3       2895       381   2514
4       1144       124   1020
5       1191       166   1025
6       5376       593   4783
7       1390       131   1259
8       1824       173   1651
9       2162       289   1873
10      1719       199   1520
11      2984       340   2644
12      1591       176   1415
13      1393       164   1229
14      2928       303   2625
15       416        40    376
16      2066       320   1746
17       214        20    194
18      4469       575   3894
19      2614       335   2279
20      1855       240   1615
21      4373       494   3879
22      2005       248   1757
23      1546       153   1393
24       822        93    729
25        33         6     27
26       335        44    291
27      1680       235   1445
28       929       156    773
29      1845       242   1603
30      1171       162   1009
31       396        51    345
32       366        33    333
33      2397       397   2000
34      1011       139    872
35       892       156    736
36       494       102    392
37       959       114    845
38       690        88    602
39       848       133    715
40      1040       195    845
41      2440       415   2025
42      1533       215   1318
43       823       101    722
44       341        39    302
45       610        69    541
46       100         7     93
47        97        12     85
48       968        81    887

In [ ]:
select = Select(driver.find_element(By.XPATH, '//*[@id="selectYear"]'))
select.select_by_index(3)

select = Select(driver.find_element(By.XPATH, '//*[@id="selectQu"]'))
select.select_by_index(0)

btn = driver.find_element(By.XPATH, '/html/body/div/section/div/div[2]/div[2]/div/div[3]/button')
btn.click()

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

html_table = soup.find('table', 'com_table')
html_table = str(html_table)
df4 = pd.read_html(html_table)[0]
df4

        행정구역  생활밀접업종 2019년 2분기                  2019년 3분기                   \
        행정구역  생활밀접업종    전체 점포수 프랜차이즈 점포수 일반 점포수    전체 점포수 프랜차이즈 점포수 일반 점포수
0        경기도  전체업종전체     49823      6143  43680     50379      6279  44100
1        수원시  전체업종전체      7345       906   6439      7357       913   6444
2    수원시 장안구  전체업종전체      2210       254   1956      2225       258   1967
3    수원시 권선구  전체업종전체      2850       378   2472      2850       379   2471
4    수원시 팔달구  전체업종전체      1148       115   1033      1136       117   1019
5    수원시 영통구  전체업종전체      1137       159    978      1146       159    987
6        성남시  전체업종전체      5289       584   4705      5315       594   4721
7    성남시 수정구  전체업종전체      1375       131   1244      1378       134   1244
8    성남시 중원구  전체업종전체      1820       172   1648      1831       175   1656
9    성남시 분당구  전체업종전체      2094       281   1813      2106       285   1821
10      의정부시  전체업종전체      1696       191   1505      1695       190   1505
11       안양시  전체업종전체      2973       328   2645      2986       327   2659
12   안양시 만안구  전체업종전체      1578       167   1411      1587       166   1421
13   안양시 동안구  전체업종전체      1395       161   1234      1399       161   1238
14       부천시  전체업종전체      2882       281   2601      2909       285   2624
15       광명시  전체업종전체       413        38    375       419        41    378
16       평택시  전체업종전체      1963       297   1666      1979       307   1672
17      동두천시  전체업종전체       201        17    184       202        18    184
18       안산시  전체업종전체      4359       551   3808      4383       560   3823
19   안산시 상록구  전체업종전체      2564       334   2230      2586       338   2248
20   안산시 단원구  전체업종전체      1795       217   1578      1797       222   1575
21       고양시  전체업종전체      4210       463   3747      4195       463   3732
22   고양시 덕양구  전체업종전체      1959       234   1725      1962       236   1726
23  고양시 일산동구  전체업종전체      1454       143   1311      1433       140   1293
24  고양시 일산서구  전체업종전체       797        86    711       800        87    713
25       과천시  전체업종전체        34         6     28        32         5     27
26       구리시  전체업종전체       314        37    277       313        37    276
27      남양주시  전체업종전체      1580       217   1363      1605       219   1386
28       오산시  전체업종전체       896       145    751       897       147    750
29       시흥시  전체업종전체      1779       211   1568      1799       219   1580
30       군포시  전체업종전체      1155       164    991      1164       161   1003
31       의왕시  전체업종전체       412        52    360       411        54    357
32       하남시  전체업종전체       354        30    324       359        30    329
33       용인시  전체업종전체      2118       318   1800      2341       375   1966
34   용인시 처인구  전체업종전체       981       123    858       990       126    864
35   용인시 기흥구  전체업종전체       848       148    700       865       146    719
36   용인시 수지구  전체업종전체       289        47    242       486       103    383
37       파주시  전체업종전체       924       104    820       935        99    836
38       이천시  전체업종전체       678        83    595       690        89    601
39       안성시  전체업종전체       821       125    696       827       126    701
40       김포시  전체업종전체       930       176    754       970       181    789
41       화성시  전체업종전체      2239       343   1896      2278       352   1926
42       광주시  전체업종전체      1402       187   1215      1423       195   1228
43       양주시  전체업종전체       815       102    713       821       101    720
44       포천시  전체업종전체       330        38    292       332        38    294
45       여주시  전체업종전체       591        58    533       600        61    539
46       연천군  전체업종전체       103         7     96       104         7     97
47       가평군  전체업종전체        97         9     88        94         9     85
48       양평군  전체업종전체       920        75    845       944        76    868

   2019년 4분기
      전체 점포수 프랜차이즈 점포수 일반 점포수
0      51001      6352  44649
1       7431       921   6510
2       2230       256   1974
3       2894       380   2514
4       1143       121   1022
5       1164       164   1000
6       5358       597   4761
7       1394       132   1262
8       1832       177   1655
9       2132       288   1844
10      1713       197   1516
11      2998       332   2666
12      1591       172   1419
13      1407       160   1247
14      2955       294   2661
15       420        39    381
16      2025       308   1717
17       205        18    187
18      4427       560   3867
19      2602       334   2268
20      1825       226   1599
21      4248       456   3792
22      1976       230   1746
23      1463       140   1323
24       809        86    723
25        33         6     27
26       310        40    270
27      1628       220   1408
28       897       144    753
29      1833       232   1601
30      1178       160   1018
31       407        52    355
32       370        31    339
33      2362       382   1980
34       997       133    864
35       868       146    722
36       497       103    394
37       957       110    847
38       688        89    599
39       843       126    717
40       982       185    797
41      2345       366   1979
42      1462       197   1265
43       830       101    729
44       335        38    297
45       605        60    545
46       103         7     96
47        96         9     87
48       957        75    882

In [ ]:
select = Select(driver.find_element(By.XPATH, '//*[@id="selectYear"]'))
select.select_by_index(3)

select = Select(driver.find_element(By.XPATH, '//*[@id="selectQu"]'))
select.select_by_index(3)

btn = driver.find_element(By.XPATH, '/html/body/div/section/div/div[2]/div[2]/div/div[3]/button')
btn.click()

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

html_table = soup.find('table', 'com_table')
html_table = str(html_table)
df5 = pd.read_html(html_table)[0]
df5

        행정구역  생활밀접업종 2018년 3분기                  2018년 4분기                   \
        행정구역  생활밀접업종    전체 점포수 프랜차이즈 점포수 일반 점포수    전체 점포수 프랜차이즈 점포수 일반 점포수
0        경기도  전체업종전체     48532      5972  42560     49102      6044  43058
1        수원시  전체업종전체      7153       876   6277      7249       892   6357
2    수원시 장안구  전체업종전체      2160       244   1916      2187       246   1941
3    수원시 권선구  전체업종전체      2768       365   2403      2812       373   2439
4    수원시 팔달구  전체업종전체      1143       117   1026      1134       116   1018
5    수원시 영통구  전체업종전체      1082       150    932      1116       157    959
6        성남시  전체업종전체      5232       564   4668      5251       571   4680
7    성남시 수정구  전체업종전체      1371       123   1248      1370       126   1244
8    성남시 중원구  전체업종전체      1808       177   1631      1818       176   1642
9    성남시 분당구  전체업종전체      2053       264   1789      2063       269   1794
10      의정부시  전체업종전체      1662       184   1478      1685       186   1499
11       안양시  전체업종전체      2944       329   2615      2943       331   2612
12   안양시 만안구  전체업종전체      1569       169   1400      1564       169   1395
13   안양시 동안구  전체업종전체      1375       160   1215      1379       162   1217
14       부천시  전체업종전체      2793       279   2514      2811       275   2536
15       광명시  전체업종전체       419        40    379       420        40    380
16       평택시  전체업종전체      1922       296   1626      1960       300   1660
17      동두천시  전체업종전체       199        19    180       200        18    182
18       안산시  전체업종전체      4245       544   3701      4294       542   3752
19   안산시 상록구  전체업종전체      2489       328   2161      2531       329   2202
20   안산시 단원구  전체업종전체      1756       216   1540      1763       213   1550
21       고양시  전체업종전체      4153       458   3695      4184       459   3725
22   고양시 덕양구  전체업종전체      1918       236   1682      1935       234   1701
23  고양시 일산동구  전체업종전체      1443       139   1304      1457       144   1313
24  고양시 일산서구  전체업종전체       792        83    709       792        81    711
25       과천시  전체업종전체        30         7     23        32         7     25
26       구리시  전체업종전체       297        33    264       297        34    263
27      남양주시  전체업종전체      1519       204   1315      1547       211   1336
28       오산시  전체업종전체       856       147    709       874       148    726
29       시흥시  전체업종전체      1748       201   1547      1775       204   1571
30       군포시  전체업종전체      1152       166    986      1165       168    997
31       의왕시  전체업종전체       412        54    358       418        54    364
32       하남시  전체업종전체       338        25    313       340        27    313
33       용인시  전체업종전체      2024       309   1715      2052       312   1740
34   용인시 처인구  전체업종전체       962       122    840       969       121    848
35   용인시 기흥구  전체업종전체       792       142    650       810       146    664
36   용인시 수지구  전체업종전체       270        45    225       273        45    228
37       파주시  전체업종전체       872       100    772       896       104    792
38       이천시  전체업종전체       674        78    596       678        78    600
39       안성시  전체업종전체       768       115    653       781       113    668
40       김포시  전체업종전체       883       161    722       909       171    738
41       화성시  전체업종전체      2166       326   1840      2190       333   1857
42       광주시  전체업종전체      1306       175   1131      1350       184   1166
43       양주시  전체업종전체       792        98    694       801        99    702
44       포천시  전체업종전체       327        37    290       328        35    293
45       여주시  전체업종전체       580        56    524       582        56    526
46       연천군  전체업종전체       104         8     96       104         7     97
47       가평군  전체업종전체       103        10     93       100         9     91
48       양평군  전체업종전체       859        73    786       886        76    810

   2019년 1분기
      전체 점포수 프랜차이즈 점포수 일반 점포수
0      49492      6078  43414
1       7288       907   6381
2       2196       255   1941
3       2821       378   2443
4       1147       115   1032
5       1124       159    965
6       5269       572   4697
7       1371       129   1242
8       1814       172   1642
9       2084       271   1813
10      1696       184   1512
11      2975       328   2647
12      1580       167   1413
13      1395       161   1234
14      2847       277   2570
15       413        39    374
16      1956       301   1655
17       201        18    183
18      4319       540   3779
19      2553       330   2223
20      1766       210   1556
21      4201       459   3742
22      1959       232   1727
23      1452       144   1308
24       790        83    707
25        35         7     28
26       301        36    265
27      1568       214   1354
28       887       145    742
29      1783       205   1578
30      1162       164    998
31       412        52    360
32       344        28    316
33      2074       311   1763
34       978       125    853
35       822       141    681
36       274        45    229
37       904       103    801
38       680        81    599
39       804       122    682
40       931       175    756
41      2220       340   1880
42      1377       186   1191
43       813       101    712
44       328        36    292
45       591        56    535
46       105         7     98
47        98         9     89
48       910        75    835

In [ ]:
df5.drop(['2018년 3분기', '2018년 4분기'], axis = 1, inplace = True)

/var/folders/ld/xyv_k8pj3dl6p3sv6jn1gyz00000gn/T/ipykernel_77185/998281915.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df5.drop(['2018년 3분기', '2018년 4분기'], axis = 1, inplace = True)

In [ ]:
df.columns

MultiIndex([(     '행정구역',      '행정구역'),
            (   '생활밀접업종',    '생활밀접업종'),
            ('2021년 3분기',    '전체 점포수'),
            ('2021년 3분기', '프랜차이즈 점포수'),
            ('2021년 3분기',    '일반 점포수'),
            ('2021년 4분기',    '전체 점포수'),
            ('2021년 4분기', '프랜차이즈 점포수'),
            ('2021년 4분기',    '일반 점포수'),
            ('2022년 1분기',    '전체 점포수'),
            ('2022년 1분기', '프랜차이즈 점포수'),
            ('2022년 1분기',    '일반 점포수')],
           )

In [ ]:
df = pd.merge(df5.droplevel(axis = 1, level = 1), df4.droplevel(axis = 1, level = 1), how = 'left', on = ['행정구역', '생활밀접업종'])
df = pd.merge(df, df3.droplevel(axis = 1, level = 1), how = 'left', on = ['행정구역', '생활밀접업종'])
df = pd.merge(df, df2.droplevel(axis = 1, level = 1), how = 'left', on = ['행정구역', '생활밀접업종'])
df = pd.merge(df, df1.droplevel(axis = 1, level = 1), how = 'left', on = ['행정구역', '생활밀접업종'])
df

,행정구역,생활밀접업종,2019년 1분기,2019년 1분기,2019년 1분기,2019년 2분기,2019년 2분기,2019년 2분기,2019년 3분기,2019년 3분기,...,2021년 2분기,2021년 3분기,2021년 3분기,2021년 3분기,2021년 4분기,2021년 4분기,2021년 4분기,2022년 1분기,2022년 1분기,2022년 1분기
0,경기도,전체업종전체,49492,6078,43414,49823,6143,43680,50379,6279,...,45818,52744,6914,45830,52814,6973,45841,53254,7010,46244
1,수원시,전체업종전체,7288,907,6381,7345,906,6439,7357,913,...,6655,7664,1007,6657,7692,1036,6656,7741,1038,6703
2,수원시 장안구,전체업종전체,2196,255,1941,2210,254,1956,2225,258,...,1982,2246,282,1964,2252,289,1963,2284,287,1997
3,수원시 권선구,전체업종전체,2821,378,2443,2850,378,2472,2850,379,...,2562,2982,415,2567,2995,423,2572,3005,429,2576
4,수원시 팔달구,전체업종전체,1147,115,1032,1148,115,1033,1136,117,...,1045,1193,145,1048,1199,151,1048,1190,149,1041
5,수원시 영통구,전체업종전체,1124,159,965,1137,159,978,1146,159,...,1066,1243,165,1078,1246,173,1073,1262,173,1089
6,성남시,전체업종전체,5269,572,4697,5289,584,4705,5315,594,...,4804,5358,582,4776,5360,578,4782,5365,573,4792
7,성남시 수정구,전체업종전체,1371,129,1242,1375,131,1244,1378,134,...,1225,1339,129,1210,1329,129,1200,1321,129,1192
8,성남시 중원구,전체업종전체,1814,172,1642,1820,172,1648,1831,175,...,1677,1818,155,1663,1818,151,1667,1818,145,1673
9,성남시 분당구,전체업종전체,2084,271,1813,2094,281,1813,2106,285,...,1902,2201,298,1903,2213,298,1915,2226,299,1927
10,의정부시,전체업종전체,1696,184,1512,1696,191,1505,1695,190,...,1522,1735,214,1521,1719,217,1502,1724,216,1508
11,안양시,전체업종전체,2975,328,2647,2973,328,2645,2986,327,...,2620,2968,358,2610,2969,361,2608,2995,365,2630
12,안양시 만안구,전체업종전체,1580,167,1413,1578,167,1411,1587,166,...,1397,1579,185,1394,1566,182,1384,1571,183,1388
13,안양시 동안구,전체업종전체,1395,161,1234,1395,161,1234,1399,161,...,1223,1389,173,1216,1403,179,1224,1424,182,1242
14,부천시,전체업종전체,2847,277,2570,2882,281,2601,2909,285,...,2683,2998,313,2685,2973,309,2664,2985,314,2671
15,광명시,전체업종전체,413,39,374,413,38,375,419,41,...,378,420,43,377,410,42,368,412,41,371
16,평택시,전체업종전체,1956,301,1655,1963,297,1666,1979,307,...,1779,2115,331,1784,2119,342,1777,2134,342,1792
17,동두천시,전체업종전체,201,18,183,201,17,184,202,18,...,205,226,23,203,226,24,202,228,24,204
18,안산시,전체업종전체,4319,540,3779,4359,551,3808,4383,560,...,3962,4549,592,3957,4555,589,3966,4579,590,3989
19,안산시 상록구,전체업종전체,2553,330,2223,2564,334,2230,2586,338,...,2313,2644,343,2301,2644,342,2302,2651,343,2308
20,안산시 단원구,전체업종전체,1766,210,1556,1795,217,1578,1797,222,...,1649,1905,249,1656,1911,247,1664,1928,247,1681
21,고양시,전체업종전체,4201,459,3742,4210,463,3747,4195,463,...,3999,4504,502,4002,4514,500,4014,4545,507,4038
22,고양시 덕양구,전체업종전체,1959,232,1727,1959,234,1725,1962,236,...,1816,2079,260,1819,2081,256,1825,2107,266,1841
23,고양시 일산동구,전체업종전체,1452,144,1308,1454,143,1311,1433,140,...,1446,1595,150,1445,1598,150,1448,1602,150,1452
24,고양시 일산서구,전체업종전체,790,83,707,797,86,711,800,87,...,737,830,92,738,835,94,741,836,91,745
25,과천시,전체업종전체,35,7,28,34,6,28,32,5,...,26,32,6,26,31,6,25,32,6,26
26,구리시,전체업종전체,301,36,265,314,37,277,313,37,...,301,344,44,300,340,45,295,345,44,301
27,남양주시,전체업종전체,1568,214,1354,1580,217,1363,1605,219,...,1489,1754,251,1503,1766,253,1513,1789,255,1534
28,오산시,전체업종전체,887,145,742,896,145,751,897,147,...,810,974,162,812,968,167,801,989,170,819
29,시흥시,전체업종전체,1783,205,1578,1779,211,1568,1799,219,...,1634,1892,266,1626,1899,270,1629,1922,273,1649
30,군포시,전체업종전체,1162,164,998,1155,164,991,1164,161,...,1019,1177,160,1017,1186,162,1024,1194,167,1027
31,의왕시,전체업종전체,412,52,360,412,52,360,411,54,...,345,398,55,343,396,56,340,399,55,344
32,하남시,전체업종전체,344,28,316,354,30,324,359,30,...,333,371,34,337,367,32,335,376,34,342
33,용인시,전체업종전체,2074,311,1763,2118,318,1800,2341,375,...,2028,2445,401,2044,2454,404,2050,2472,408,2064
34,용인시 처인구,전체업종전체,978,125,853,981,123,858,990,126,...,887,1025,133,892,1021,135,886,1028,136,892
35,용인시 기흥구,전체업종전체,822,141,681,848,148,700,865,146,...,748,926,166,760,944,169,775,947,173,774
36,용인시 수지구,전체업종전체,274,45,229,289,47,242,486,103,...,393,494,102,392,489,100,389,497,99,398
37,파주시,전체업종전체,904,103,801,924,104,820,935,99,...,853,969,115,854,966,111,855,978,111,867
38,이천시,전체업종전체,680,81,599,678,83,595,690,89,...,610,708,97,611,714,99,615,715,103,612
39,안성시,전체업종전체,804,122,682,821,125,696,827,126,...,736,857,132,725,862,134,728,871,136,735
40,김포시,전체업종전체,931,175,756,930,176,754,970,181,...,882,1118,216,902,1114,211,903,1136,213,923
41,화성시,전체업종전체,2220,340,1880,2239,343,1896,2278,352,...,2084,2563,444,2119,2572,438,2134,2641,442,2199
42,광주시,전체업종전체,1377,186,1191,1402,187,1215,1423,195,...,1374,1592,232,1360,1604,236,1368,1601,229,1372
43,양주시,전체업종전체,813,101,712,815,102,713,821,101,...,729,828,107,721,840,112,728,858,114,744
44,포천시,전체업종전체,328,36,292,330,38,292,332,38,...,312,353,41,312,353,44,309,358,45,313
45,여주시,전체업종전체,591,56,535,591,58,533,600,61,...,558,636,78,558,648,81,567,658,80,578
46,연천군,전체업종전체,105,7,98,103,7,96,104,7,...,96,107,10,97,109,10,99,108,10,98
47,가평군,전체업종전체,98,9,89,97,9,88,94,9,...,87,101,12,89,106,14,92,113,15,98
48,양평군,전체업종전체,910,75,835,920,75,845,944,76,...,905,988,86,902,982,90,892,991,90,901

In [ ]:
df.to_csv(

        행정구역  생활밀접업종 2019년 1분기
        행정구역  생활밀접업종    전체 점포수 프랜차이즈 점포수 일반 점포수
0        경기도  전체업종전체     49492      6078  43414
1        수원시  전체업종전체      7288       907   6381
2    수원시 장안구  전체업종전체      2196       255   1941
3    수원시 권선구  전체업종전체      2821       378   2443
4    수원시 팔달구  전체업종전체      1147       115   1032
5    수원시 영통구  전체업종전체      1124       159    965
6        성남시  전체업종전체      5269       572   4697
7    성남시 수정구  전체업종전체      1371       129   1242
8    성남시 중원구  전체업종전체      1814       172   1642
9    성남시 분당구  전체업종전체      2084       271   1813
10      의정부시  전체업종전체      1696       184   1512
11       안양시  전체업종전체      2975       328   2647
12   안양시 만안구  전체업종전체      1580       167   1413
13   안양시 동안구  전체업종전체      1395       161   1234
14       부천시  전체업종전체      2847       277   2570
15       광명시  전체업종전체       413        39    374
16       평택시  전체업종전체      1956       301   1655
17      동두천시  전체업종전체       201        18    183
18       안산시  전체업종전체      4319       540   3779
19   안산시 상록구  전체업종전체      2553       330   2223
20   안산시 단원구  전체업종전체      1766       210   1556
21       고양시  전체업종전체      4201       459   3742
22   고양시 덕양구  전체업종전체      1959       232   1727
23  고양시 일산동구  전체업종전체      1452       144   1308
24  고양시 일산서구  전체업종전체       790        83    707
25       과천시  전체업종전체        35         7     28
26       구리시  전체업종전체       301        36    265
27      남양주시  전체업종전체      1568       214   1354
28       오산시  전체업종전체       887       145    742
29       시흥시  전체업종전체      1783       205   1578
30       군포시  전체업종전체      1162       164    998
31       의왕시  전체업종전체       412        52    360
32       하남시  전체업종전체       344        28    316
33       용인시  전체업종전체      2074       311   1763
34   용인시 처인구  전체업종전체       978       125    853
35   용인시 기흥구  전체업종전체       822       141    681
36   용인시 수지구  전체업종전체       274        45    229
37       파주시  전체업종전체       904       103    801
38       이천시  전체업종전체       680        81    599
39       안성시  전체업종전체       804       122    682
40       김포시  전체업종전체       931       175    756
41       화성시  전체업종전체      2220       340   1880
42       광주시  전체업종전체      1377       186   1191
43       양주시  전체업종전체       813       101    712
44       포천시  전체업종전체       328        36    292
45       여주시  전체업종전체       591        56    535
46       연천군  전체업종전체       105         7     98
47       가평군  전체업종전체        98         9     89
48       양평군  전체업종전체       910        75    835